site_name: Meridian
site_description: Heroku for ML Features
site_url: https://meridian.io
repo_url: https://github.com/davidahmann/meridian
repo_name: davidahmann/meridian

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
  features:
    - content.code.copy
    - navigation.expand
    - navigation.indexes

nav:
  - Home: index.md
  - Architecture:
    - Overview: architecture/overview.md
    - Decisions (ADR): adr/index.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
